body {
  background-image: url('../assets/halloback.jpg');
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
}

.sidebar{
  height: 85vh;
  overflow-y: scroll;
}

.face-title {
  font-family: Arial, sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-left: 8vw;
  color: #dbdbdb
}

.mask-list {
  margin-left: 5%;
  list-style: none;
}

.mask-list img {
  width: 100px;
  margin-top: 1%;
  box-shadow: #555 1px 1px 4px 4px;
}

